body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(235, 240, 245);
}

.container {
    background-color: rgb(235, 240, 245);
    padding: 50px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border: 2px solid black;
    font-family: 'Helvetica';
}

.title {
    font-weight: bold;
}

.bookform {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px;
}
.bookform button {
    margin: 10px;
}

.remove {
    width: 7em;
    height: 2em;
    background-color: aliceblue;
    border-radius: 6px;
    font-weight: bold;
}

.read {
    background-color: green;
    border-radius: 6px;
    width: 7em;
    height: 2em;
    font-weight: bold;
}

.not-read {
    background-color: red;
    border-radius: 6px;
    width: 7em;
    height: 2em;
    font-weight: bold;
}

.header {
    margin: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    font-family: 'Helvetica';
}

.logo {
    font-weight: bold;
    font-size: 3em;
    margin: 12px;
    padding-left: 100px;
}

.newButton {
    margin: 30px;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 8px;
    height: 3em;
    width: 6em;
    font-size: 1em;
}